[submodule "modules/imageprocessing"]
	path = modules/imageprocessing
	url = https://github.com/funkey/imageprocessing
[submodule "modules/pipeline"]
	path = modules/pipeline
	url = https://github.com/funkey/pipeline
[submodule "cmake"]
	path = cmake
	url = https://github.com/funkey/cmake
[submodule "modules/util"]
	path = modules/util
	url = https://github.com/funkey/util
[submodule "modules/signals"]
	path = modules/signals
	url = https://github.com/funkey/signals
